<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.model">
    <!-- 获取登录接口case -->
    <select id="loginCase" parameterType="Integer" resultType="com.model.LoginCase">
        SELECT * FROM loginCase
        WHERE id=#{id};
    </select>

    <!--添加用户接口case-->
    <select id="addUserCase" parameterType="Integer" resultType="com.model.AddUserCase">
        SELECT * FROM addUserCase WHERE id=#{id};
    </select>

    <!--获取用户信息case-->
    <select id="getUserInfoCase" parameterType="Integer" resultType="com.model.GetUserInfoCase">
        SELECT * FROM  getUserInfoCase WHERE id=#{id};
    </select>

    <!--获取用户列表case-->
    <select id="getUserListCase" parameterType="Integer" resultType="com.model.GetUserListCase">
        SELECT * FROM getUserListCase WHERE id=#{id};
    </select>

    <!--更新/删除用户case-->
    <select id="updateUserInfoCase" parameterType="Integer" resultType="com.model.UpdateUserInfoCase">
        SELECT * FROM updateUserInfoCase WHERE id=#{id};
    </select>
</mapper>